body{
    font-family: 'League Spartan', sans-serif;
}

/* Header */
.header-container{
    display: flex;
    width: 1440px;;
    padding-top: 105px;
    padding-right: 240px;
    padding-bottom: 170px;
    padding-left: 135px;
    background-color: #f8f8f8;
    margin: 0 auto;
}
.header-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #161515;
    margin-bottom: 53px;
}

.header-subtitle{
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    color: #272727;
    margin-bottom: 43px;
}

.header-description{
    width: 575px;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #161515;
    margin-bottom: 60px;
}

.buy-wrapper{
    display: flex;
    text-align: center;
    height: 82px;
}
.buy-link{
    width: 278px;
    background: #161515;
    font-weight: 300;
    font-size: 32px;
    line-height: 82px;
    color: #FFFFFF;
    text-decoration: none;
}

.price{
    width: 143px;
    font-weight: 300;
    font-size: 32px;
    line-height: 82px;
    color: #272727;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
}

.header-img{
    display: block;
    width: 408px;
    margin-top: -104px;
}

.header-text-wrapper{
    margin-right: 70px;
}


/* Main */
.popular-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    text-align: center;
    color: #000000;
    margin-top: 43px;
    margin-bottom: 10px;
}

.models-title{
    font-weight: 400;
    font-size: 72px;
    line-height: 112.5%;
    text-align: center;
    color: #000000;
    margin-bottom: 85px;
}

.item-wrapper{
    margin: 0 auto;
    width: 417px;
    margin-bottom: 85px;
}

.item-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 417px;
    height: 630px;
    background: #F8F8F8;
    margin-bottom: 67px;
}

.item-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 18px;
}

.item-description{
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    text-align: center;
    color: #161515;
}


.product-description-wrapper{
    margin: 0 auto;
    width: 417px;
    margin-top: 50px;
    margin-bottom: 142px;
}
.product-description-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 186%;
    text-align: center;
    text-transform: capitalize;
    color: #161515;
    margin-bottom: 58px;
}

.product-description{
    font-weight: 300;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    color: #161515;
}
.product-description-link{
    font-weight: 500;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    text-decoration-line: underline;
    color: #BB8B5D;
}